PORT=9000
MONGODB_URI=mongodb+srv://admin:Tsahim6@karaoke.48z7n0c.mongodb.net/?appName=Karaoke
CLIENT_URL=http://localhost:3000

CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_Giv633kiQqpgMGN9xdNN7Glmq6CgwuqCgp0jC6AQZv

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret
STRIPE_CURRENCY=usd
STRIPE_PRODUCT_NAME=Karaoke Room Booking
